<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../css/component/home.css" />
    <link rel="stylesheet" href="../../css/general.css" />
  </head>
  <body>
    <header class="header-home">
      <div class="tools-bar">
        <div>
          <img
            class="icon search-icon"
            src="../../public/images/home/tools-bar/search-outline.svg"
            alt="search icon"
          />
        </div>
        <div class="tools-bar-icons">
          <img
            class="icon flag-icon"
            src="../../public/images/home/tools-bar/united-kingdom-flag-icon.svg"
            alt="flag icon"
          />
          <img
            class="icon notifications-icon"
            src="../../public/images/home/tools-bar/notifications-outline.svg"
            alt="nofications icon"
          />
          <img
            class="icon users-icon"
            src="../../public/images/home/tools-bar/people-outline.svg"
            alt="users icon"
          />
          <img
            class="icon settings-icon"
            src="../../public/images/home/tools-bar/settings-outline.svg"
            alt="setting icon"
          />
          <img
            class="icon profile-picture-icon"
            src="../../public/images/home/tools-bar/Design sans titre (1).png"
            alt="setting icon"
          />
        </div>
      </div>
    </header>
    <main class="container user-dashboard">
      <div class="my-profile-infos raduis-and-shadow">
        <div class="my-infos-profile">
          <img
            class="profile-avatar profile-photo"
            src="../../public/images/home/tools-bar/Design sans titre (1).png"
            alt="avatar"
          />
          <div class="name-job">
            <p class="user-full-name">Souhail Brahmi</p>
            <p class="user-job">Web developer</p>
          </div>
        </div>
        <div class="my-profile-tablist">
          <button class="profile-tab dashboard-tab dashboard-tab--active">
            <img
              class="icon"
              src="../../public/images/home/main/my-profile/id-card-solid.svg"
              alt=""
            />
            <span class="dashboard-btn-tab-text">Profile</span>
          </button>

          <button class="followers-tab dashboard-tab">
            <img
              class="icon"
              src="../../public/images/home/main/my-profile/heart.svg"
              alt=""
            />
            <span class="dashboard-btn-tab-text">followers</span>
          </button>

          <button class="friends-tab dashboard-tab">
            <img
              class="icon"
              src="../../public/images/home/main/my-profile/user-group-solid.svg"
              alt=""
            />
            <span class="dashboard-btn-tab-text">friends</span>
          </button>

          <button class="gallery-tab dashboard-tab">
            <img
              class="icon"
              src="../../public/images/home/main/my-profile/images-solid.svg"
              alt="gallery photo"
            />
            <span class="dashboard-btn-tab-text">gallery</span>
          </button>
        </div>
      </div>
      <div class="scroll-page grid grid--2-cols--feed">
        <div class="feed-account-infos">
          <div class="account-infos-follow">
            <div class="followers-scroll-page raduis-and-shadow">
              <div class="number-followers">
                <span class="number-followers-number">1,974</span>
                <span class="number-followers-text">Followers</span>
              </div>
              <div class="number-following">
                <span class="number-following-number">9,124</span>
                <span class="number-following-text">Following</span>
              </div>
            </div>
          </div>

          <div class="about-section raduis-and-shadow">
            <h2 class="about-section-header account-infos-header">About</h2>
            <p class="about-section-bio">
              Tart I love sugar plum I love oat cake. Sweet roll caramels I love
              jujubes. Topping cake wafer..
            </p>
            <div class="icon-with-text about-section-bio-position">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/position.png"
                alt="position icon"
              />
              <span class="text-bio-info"
                >Live at <a href="#" class="text-bio-link">Andorra</a></span
              >
            </div>
            <div class="icon-with-text about-section-bio-email">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/letter.png"
                alt="letter icon"
              />
              <span class="text-bio-info">ashlynn_ohara62@gmail.com</span>
            </div>
            <div class="icon-with-text about-section-bio-job">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/job-bag.png"
                alt="bag icon"
              />
              <span class="text-bio-info"
                >Data Analyst at
                <a href="#" class="text-bio-link"
                  >Gleichner, Mueller and Tromp</a
                ></span
              >
            </div>
            <div class="icon-with-text about-section-bio-study">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/job-bag.png"
                alt="position icon"
              />
              <span class="text-bio-info"
                >Studied at
                <a href="#" class="text-bio-link">Nikolaus - Leuschke</a></span
              >
            </div>
          </div>
          <div class="social-accouts raduis-and-shadow">
            <h2 class="social-accounts-header account-infos-header">Social</h2>
            <div class="facebook-account icon-with-text">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/facebook.png"
                alt=""
              />
              <a
                class="social-account-text"
                href="https://www.facebook.com/caitlyn.kerluke"
                >https://www.facebook.com/caitlyn.kerluke</a
              >
            </div>

            <div class="instagram-account icon-with-text">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/instagram.png"
                alt=""
              />
              <a
                class="social-account-text"
                href="https://www.instagram.com/caitlyn.kerluke"
                >https://www.instagram.com/caitlyn.kerluke</a
              >
            </div>

            <div class="linkedIn-account icon-with-text">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/linkedIn.png"
                alt=""
              />
              <a
                class="social-account-text"
                href="https://www.facebook.com/caitlyn.kerluke"
                >https://www.facebook.com/caitlyn.kerluke</a
              >
            </div>

            <!-- <div class="facebook-account">
                        <img class="icon" src="../../public/images/scroll-page/about-section/facebook.png" alt="">
                        <a class="social-account-text" href="https://www.linkedin.com/in/caitlyn.kerluke"></a>
                    </div> -->

            <div class="twitter-account icon-with-text">
              <img
                class="icon"
                src="../../public/images/scroll-page/about-section/twitter.png"
                alt=""
              />
              <a
                class="social-account-text"
                href="https://www.twitter.com/caitlyn.kerluke"
                >https://www.twitter.com/caitlyn.kerluke</a
              >
            </div>
          </div>
        </div>

        <!--  feed posts  -->

        <div class="feed-posts-scroll">
          <div class="create-post raduis-and-shadow">
            <div class="create-post-text">
              <textarea
              rows="6"
                class="create-text"
                placeholder="Share what you are thinking here..."
              ></textarea>
            </div>
            <div class="create-post-actions">
              <div class="image-stream">
                <button class="create-post-media">
                  <img
                    class="icon"
                    src="../../public/images/scroll-page/feed-section/green-gallery.png"
                    alt="green gallery icon"
                  />
                  <p class="btn btn-post-text">Image/Video</p>
                </button>
                <button class="create-post-media">
                  <img
                    class="icon"
                    src="../../public/images/scroll-page/feed-section/red-camera.png"
                    alt="green gallery icon"
                  />
                  <p class="btn-post-text">Streaming</p>
                </button>
              </div>
              <div class="post-action">
                <button class="button-post">Post</button>
              </div>
            </div>
          </div>


          <div class="feed-post raduis-and-shadow">
            <div class="feed-post-heading">
                <div class="feed-post-poster-photo">
                    <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_3.jpg" alt="">
                </div>
                <div class="post-poster-date">
                    <p class="poster-name">Ahmed Ahmed</p>
                    <p class="post-date">16 oct 2023</p>
                </div>
                <div class="feed-post-menu">
                    <img src="../../public/images/scroll-page/feed-section/menu-vertical.png" alt="">
                </div>
            </div>

            <div class="post-content">
                <p class="post-content-text">
                    The sun slowly set over the horizon, painting the sky in vibrant hues of orange and pink.
                </p>
            </div>

            <div class="post-content-parent-image">
                <img src="../../public/images/scroll-page/feed-section/new-post/travel_2.jpg" alt="" class="post-content-image">
            </div>

            <div class="post-users-reactions">
                <div class="users-reactions">
                    <div class="likes-and-likers">
                    <label for="" class="number-likes-container">
                        <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/like.png" alt="">
                        <span class="num-likes">20</span>
                    </label>
                    <div class="post-likers">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_4.jpg" alt="">
                        <img class="post-avatar-photo overlap" src="../../public/images/scroll-page/feed-section/new-post/avatar_5.jpg" alt="">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_6.jpg" alt="">
                        <p class="post-avatar-photo remaining-likes">+17</p>
                    </div>
                    
                </div>
                </div>
                <div class="comment-share-actions">
                    <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/comment.png" alt="">
                    <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/share.png" alt="">
                </div>
            </div>
            <div class="feed-post-comments">
                <div class="feed-post-comment">

                    <div class="post-commentor-photo">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_25.jpg" alt="">
                    </div>
                    <div class="feed-comment-infos">
                        <div class="commentor-and-date">
                            <p class="post-commentor-name">Lainey Davidson</p>
                            <p class="post-comment-date">14 Oct 2023</p>
                        </div>
                        <div class="comment-content">
                            <p class="comment-text">
                                Praesent venenatis metus at
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="feed-post-comment">

                <div class="post-commentor-photo">
                    <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_8.jpg" alt="">
                </div>
                <div class="feed-comment-create">
                    <input placeholder="Write a comment..."  type="text" class="create-comment-text" name="" id="">
                    <div class="image-and-emoji">
                        <button class="btn-create-comment comment-btn-upload-image">
                            <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/upload-photo.png" alt="">
                        </button>
                        <button class="btn-create-comment comment-btn-add-emoji">
                            <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/add-emoji.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div></div>
          </div>
          <div class="feed-post raduis-and-shadow">
            <div class="feed-post-heading">
                <div class="feed-post-poster-photo">
                    <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_3.jpg" alt="">
                </div>
                <div class="post-poster-date">
                    <p class="poster-name">Ahmed Ahmed</p>
                    <p class="post-date">16 oct 2023</p>
                </div>
                <div class="feed-post-menu">
                    <img src="../../public/images/scroll-page/feed-section/menu-vertical.png" alt="">
                </div>
            </div>

            <div class="post-content">
                <p class="post-content-text">
                    The sun slowly set over the horizon, painting the sky in vibrant hues of orange and pink.
                </p>
            </div>

            <div class="post-content-parent-image">
                <img src="../../public/images/scroll-page/feed-section/new-post/travel_2.jpg" alt="" class="post-content-image">
            </div>

            <div class="post-users-reactions">
                <div class="users-reactions">
                    <div class="likes-and-likers">
                    <label for="" class="number-likes-container">
                        <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/like.png" alt="">
                        <span class="num-likes">20</span>
                    </label>
                    <div class="post-likers">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_4.jpg" alt="">
                        <img class="post-avatar-photo overlap" src="../../public/images/scroll-page/feed-section/new-post/avatar_5.jpg" alt="">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_6.jpg" alt="">
                        <p class="post-avatar-photo remaining-likes">+17</p>
                    </div>
                    
                </div>
                </div>
                <div class="comment-share-actions">
                    <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/comment.png" alt="">
                    <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/share.png" alt="">
                </div>
            </div>
            
            <div class="feed-post-comments">
                <div class="feed-post-comment">

                    <div class="post-commentor-photo">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_25.jpg" alt="">
                    </div>
                    <div class="feed-comment-infos">
                        <div class="commentor-and-date">
                            <p class="post-commentor-name">Lainey Davidson</p>
                            <p class="post-comment-date">14 Oct 2023</p>
                        </div>
                        <div class="comment-content">
                            <p class="comment-text">
                                Praesent venenatis metus at
                            </p>
                        </div>
                    </div>
                </div>
                <div class="feed-post-comment">

                    <div class="post-commentor-photo">
                        <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_25.jpg" alt="">
                    </div>
                    <div class="feed-comment-infos">
                        <div class="commentor-and-date">
                            <p class="post-commentor-name">Lainey Davidson</p>
                            <p class="post-comment-date">14 Oct 2023</p>
                        </div>
                        <div class="comment-content">
                            <p class="comment-text">
                                Etiam rhoncus. Nullam vel sem. Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Sed lectus.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="feed-post-comment">

                <div class="post-commentor-photo">
                    <img class="post-avatar-photo" src="../../public/images/scroll-page/feed-section/new-post/avatar_8.jpg" alt="">
                </div>
                <div class="feed-comment-create">
                    <input placeholder="Write a comment..."  type="text" class="create-comment-text" name="" id="">
                    <div class="image-and-emoji">
                        <button class="btn-create-comment comment-btn-upload-image">
                            <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/upload-photo.png" alt="">
                        </button>
                        <button class="btn-create-comment comment-btn-add-emoji">
                            <img class="icon" src="../../public/images/scroll-page/feed-section/new-post/add-emoji.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div></div>
          </div>


        </div>
      </div>
    </main>
  </body>
</html>
